<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>  
    
        <h1>Page Not Found - 500</h1>

        <p>Try again later, server under maintanance</p>
    </main>

</body>
</html>